# Git LFS tracking
MindPalace_Library/mml-book.pdf filter=lfs diff=lfs merge=lfs -text
"MindPalace_Library/Data Science Series Liquet Benoit Moka Sarat Nazarathy Yoni Mathematical Engineering of Deep Learning CRC Press 2024.pdf" filter=lfs diff=lfs merge=lfs -text
# IMPERIUM synchronized large files
"/files/MindPalace_Library/Data Science Series Liquet Benoit Moka Sarat Nazarathy Yoni Mathematical Engineering of Deep Learning CRC Press 2024.pdf" filter=lfs diff=lfs merge=lfs -text
/files/MindPalace_Library/mml-book.pdf filter=lfs diff=lfs merge=lfs -text
